<%= form_for(@note) do |f| %>
  <p>BlendName: <%= f.text_field :blendName %></p>
  <p>Origin: <%= f.text_field :origin %></p>
  <p>Place: <%= f.text_field :place %></p>
  <% if @note.date != nil %>
    <p>Date: <%= f.date_field(:date) %></p>
  <% else %>
    <p>Date: <%= f.date_field(:date, value: Date.today) %></p>
  <% end %>
  <p>Roast: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "roast", "#{i+1}") %> 
  <% end %></p>
  <p>Dark: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "dark", "#{i+1}") %> 
  <% end %></p>
  <p>Body: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "body", "#{i+1}") %> 
  <% end %></p>
  <p>Flavor: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "flavor", "#{i+1}") %> 
  <% end %></p>
  <p>Acidity: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "acidity", "#{i+1}") %> 
  <% end %></p>
  <p>Sweetness: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "sweetness", "#{i+1}") %> 
  <% end %></p>
  <p>Cleancup: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "cleancup", "#{i+1}") %> 
  <% end %></p>
  <p>Aftertaste: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "aftertaste", "#{i+1}") %> 
  <% end %></p>
  <p>Overall: 
  <% 5.times do |i| %>
    <%= i+1 %><%= radio_button("note", "overall", "#{i+1}") %> 
  <% end %></p>
  <p>Comment: </p>
  <%= f.text_area :comment, cols: 40, rows: 10 %><br>
  <%= f.label :image %>
  <%= f.file_field :coffee_image1 %>
<% if @note.coffee_image1? %>
  <p><%= image_tag @note.coffee_image1.url, width: '240' %></p>
<% else %>
  <p><%= image_tag 'noimage.gif' %></p>
<% end %>
  <p><%= f.submit %></p>
<% end %>
