<h1>Note of <%= @note.blendName %></h1>
<p>Blend Name: <%= @note.blendName %></p>
<p>Date: <%= @note.date %></p>
<p>User: <%= @user.nickname %></p>
<p>Origin: <%= @note.origin %></p>
<p>Place: <%= @note.place %></p>
<p>roast: <%= @note.roast %></p>
<p>body: <%= @note.body %></p>
<p>flavor: <%= @note.flavor %></p>
<p>acidity: <%= @note.acidity %></p>
<p>sweetness: <%= @note.sweetness %></p>
<p>cleancup: <%= @note.cleancup %></p>
<p>aftertaste: <%= @note.aftertaste %></p>
<p>overall: <%= @note.overall %></p>
<p>comment: <%= @note.comment %></p>
  <hr>
