<%= stylesheet_link_tag 'inside/users_show' %>

<div class="container">

  <!-- sidebar -->
  <div class="sidebar">
    <p class='note-user'><%= link_to image_tag(@user.image_url, :size => "25x25", :class => 'user-image'), user_path(@user.nickname), :id => 'avater-image-link' %></li><%= link_to "#{@user.nickname}", "/users/#{@user.nickname}", :class => 'note-user-text' %></p>
  <div class="attributes">
    <span class='attribute'>All Notes</span>
    <span class='data'><%= @notes.count %></span>
    <hr>
    <span class='attribute'>Five Stars</span>
    <span class='data'><%= @five_star_notes %></span>
    <hr>
    <span class='attribute'>From</span>
    <span class='data'><%= "#{@user.created_at}".gsub!(/^(....)-(.*)-(\S*)\s.*/, '\1 / \2 / \3') %></span>
    <hr>
    <span class='attribute'>Fav Roaster</span>
    <span class='data'><%= "LightUp" %></span>
    <hr>
    <span class='attribute'>Profile</span>
    <span class='profile'><%= "Hi I am Yuta. I love African Coffee. Nice to meet you." %></span>
  </div>
  </div>

  <!-- Main Content -->
  <div class="body">
    <p class="title"><%= @user.nickname %>'s NoteBook</p>
    <% @notes.each do |note| %>
      <div class="note">
        <p>Blend Name: <%= note.blendName %></p>
        <% if note.coffee_image1? %>
          <%= image_tag note.coffee_image1.url, width: '240' %>
        <% else %>
          <%= image_tag 'noimage.gif' %>
        <% end %>
        <p>Date: <%= note.date %></p>
        <p>overall: <%= note.overall %></p>
        <p><%= link_to 'Detail', note_path(note.id) %>
      </div>
    <% end %>
  </div>

</div>
