<!DOCTYPE html>
<html>
<head>
  <title>CoffeeNote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Coffee Note</h1>
  <% if logged_in? %>
    <p><%= link_to 'Logout', logout_path %></p>
  <% else %>
    <p><%= link_to 'Login by Twitter', '/auth/twitter' %></p>
  <% end %>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
  <hr>

<%= yield %>

</body>
</html>
