<!DOCTYPE html>
<html>
<head>
  <title>CoffeeNote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Coffee Note', '/' %></h1>
  <% if logged_in? %>
    <p><%= link_to 'Logout', logout_path %></p>
    <p>User ID: <%= current_user.id %></p>
    <p>Current User: <%= current_user.nickname %></p>
    <p><%= link_to 'My NoteBook', user_path(current_user.nickname) %></p>
    <p><%= link_to 'Create New Note', new_note_path %></p>
  <% else %>
    <p><%= link_to 'Login by Twitter', '/auth/twitter' %></p>
  <% end %>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
  <hr>

  <%= yield %>

  <hr>
<%= link_to 'Back', :back %>

</body>
</html>
